# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
:memory

# pyenv
.python-version

# Environments
.env
.flaskenv
venv/
env/

# Sqlite file
*.db

# pycharm project settings
.idea/

# Mac OS environment files
.DS_Store

# log files
logs/
