{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="zh">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - SHMUBlog</title>
        <link rel="icon"
              href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
              type="text/css">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}"
              type="text/css">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                {# TODO: 考虑制作网站图标 #}
                SHNMUBlog
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarColor01" aria-controls="navbarColor01"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    {{ render_nav_item('main.index', '首页') }}
                </div>
                <div class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                        <div class="dropdown nav-item">
                            <a href="#" class="nav-link dropdown-toggle"
                               data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                {{ current_user.username }}
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"
                                 role="menu">
                                <a class="dropdown-item"
                                   href="{{ url_for('auth.logout') }}">
                                    注销
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-outline-secondary"
                           href="{{ url_for('auth.login') }}">登陆</a>&nbsp;
                        &nbsp;
                        <a class="btn btn-secondary"
                           href="{{ url_for('auth.register') }}">注册</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

<main class="container">
    {# Flash 消息 #}
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            {{ message[1] }}
        </div>
    {% endfor %}
    {# 内容主体 #}
    {% block content %}{% endblock %}

    {% block footer %}
        <footer></footer>
    {% endblock %}
</main>
<div id="toast"></div>

{% block scripts %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
</body>
</html>